body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
  display: flex;
}

canvas {
  margin: auto;
}

code {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
  font-family: monospace;
  font-weight: 800;
  color: white;
}