body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: #141414;
}

canvas {
  border-radius: 1rem;
}

code {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
  font-family: monospace;
  font-weight: 800;
  color: black;
  text-shadow: 0px 1px white;
}